.faketable{
	margin-top: 10px;
}

.left{
	width:120px;
}
#appointments{
	
}
#notes{
	width: 58%;
}
.middle{
	padding:10px;
	padding-left:50px;
}
.middle>h2{
	text-align: center;
}
.right{
	
	width:260px;
/*	background-color:#353535;
	border: 2px solid #d7d7d7;
	border-radius: 10px;
	color:white;
	padding:30px;
	*/
	
}

.fadebtn{
	margin-left:5px;
	opacity:0.04;
}
.fadebtn:hover{
	opacity:1;
	cursor: pointer;
	text-decoration: none;
	border:1px solid #333ba8;
	background-color: #9ac7d4;
	padding: 1px 3px;
	margin-left:2px;
}

